[gcode_macro _USER_VARIABLES]
# --- SMOOTH COOL PLATE ---
variable_offset_smooth_cool_plate_abs_gf: 0.4
variable_offset_smooth_cool_plate_abs_cf: 0.4
variable_offset_smooth_cool_plate_abs_asa: 0.4
variable_offset_smooth_cool_plate_pla: 0.4
variable_offset_smooth_cool_plate_petg: 0.4
variable_offset_smooth_cool_plate_petg_cf: 0.4
variable_offset_smooth_cool_plate_pla_cf: 0.4

# --- ENGINEERING PLATE ---
variable_offset_engineering_plate_abs_gf: 0.4
variable_offset_engineering_plate_abs_cf: 0.4
variable_offset_engineering_plate_abs_asa: 0.4
variable_offset_engineering_plate_pla: 0.4
variable_offset_engineering_plate_petg: 0.4
variable_offset_engineering_plate_petg_cf: 0.4
variable_offset_engineering_plate_pla_cf: 0.4

# --- SMOOTH HIGH TEMP PLATE ---
variable_offset_smooth_high_temp_plate_abs_gf: 0.4
variable_offset_smooth_high_temp_plate_abs_cf: 0.4
variable_offset_smooth_high_temp_plate_abs_asa: 0.4
variable_offset_smooth_high_temp_plate_pla: 0.4
variable_offset_smooth_high_temp_plate_petg: 0.4
variable_offset_smooth_high_temp_plate_petg_cf: 0.4
variable_offset_smooth_high_temp_plate_pla_cf: 0.4

# --- TEXTURED PEI PLATE ---
variable_offset_textured_pei_plate_abs_gf: 0.4
variable_offset_textured_pei_plate_abs_cf: 0.4
variable_offset_textured_pei_plate_abs_asa: 0.4
variable_offset_textured_pei_plate_pla: 0.07
variable_offset_textured_pei_plate_petg: 0.4
variable_offset_textured_pei_plate_petg_cf: 0.4
variable_offset_textured_pei_plate_pla_cf: 0.4

# --- TEXTURED COOL PLATE ---
variable_offset_textured_cool_plate_abs_gf: 0.0
variable_offset_textured_cool_plate_abs_cf: 0.4
variable_offset_textured_cool_plate_abs_asa: 0.4
variable_offset_textured_cool_plate_pla: 0.4
variable_offset_textured_cool_plate_petg: 0.07
variable_offset_textured_cool_plate_petg_cf: 0.4
variable_offset_textured_cool_plate_pla_cf: 0.4
variable_offset_textured_cool_plate_abs: -0.4

# --- COOL PLATE SUPERTACK ---
variable_offset_cool_plate_supertack_abs_gf: 0.4
variable_offset_cool_plate_supertack_abs_cf: 0.4
variable_offset_cool_plate_supertack_abs_asa: 0.4
variable_offset_cool_plate_supertack_pla: 0.4
variable_offset_cool_plate_supertack_petg: 0.4
variable_offset_cool_plate_supertack_petg_cf: 0.4
variable_offset_cool_plate_supertack_pla_cf: 0.4